.feed {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f5f5f5;
    max-width: 520px;
    margin: 0 auto 80px;

    @media (min-width: 420px) {
        gap: 16px;
        padding: 16px 8px 16px;
    }
}

.pageHeader {
    width: 100%;
    background: #FFF;
    padding: 8px 32px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: right;
    color: lightgray;

    @media (min-width: 420px) {
        padding: 8px 56px;
    }

    .pageHeaderLink {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 24px;
            height: 24px;
            border-radius: 16px;
            border: 1px solid #E7E7E7;
        }

        p {
            font-size: 14px;
            color: #A7A7A7;
        }

        &:hover {
            img {
                color: #000;
                border: 1px solid #B7B7B7;
            }

            p {
                font-size: 14px;
                color: #777;
            }
        }
    }
}

.page {
    width: 100%;
    background: #fff;
    padding: 32px 24px;
    margin: 0 auto;
    border-radius: 8px;

    @media (min-width: 420px) {
        padding: 48px 40px;
    }

    .pageTitle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h3 {
            margin-right: 16px;
        }

        p {
            font-size: 14px;
            color: #b7b7b7;
        }
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 14px;
    }

    h4 {
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        line-height: 32px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .avatar {
        width: 128px;
        height: 128px;
        margin: 0 auto;
        border-radius: 50%;
        background: #FFF;
        margin-bottom: 28px;
        overflow: hidden;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.10);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .socials {
        display: flex;
        gap: 16px;

        .socialLink {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f5f5f5;
            border-radius: 8px;

            .iconBox {
                display: block;
                width: 20px;
                height: 20px;
                color: darkgray;

                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            &:hover {
                background: #f5f5f5;
                border: 1px solid lightgray;

                .iconBox {
                    color: gray;
                }
            }
        }
    }

    .contact {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .iconBox {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 20px;
            height: 20px;
            color: gray;
            margin-right: 8px;

            svg {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}