* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;

    a {
        color: #000;
        text-decoration: none;
    }
}

.app {
    height: 100%;
    width: 100%;
    min-width: 375px;
    position: relative;
    background: yellow;
    overflow: hidden;
}

.frame {
    width: 100%;
    height: 100vh;
    max-width: 520px;
    margin: 0 auto;
    min-height: 640px;
    background: pink;
    position: relative;
    overflow: hidden;

    // @media (min-width: 624px) {
    //     max-width: 624px;
    // }
}